* {
    background-color: black;
    color: white;
}

body {
    text-align: center;
}

#icon {


    padding: 3em;

}

img {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: block;
    text-align: center;
    height: 10em;
    width: auto;
}

#links {
    list-style-type: none;

}